// Write your overrides
:root {
    --tiggie-blue: #4066E4;
    --gray: #BFC0C1;
    --black: #000;
    --success: #48BC65;
    --candy-red: #ff6262;
    --sun-yellow: #ffcc00;
    --teal: #17cab6;
    --graphite: #282828;
    --light-success-main: #72E128;
    --white: #FFF;
    --organge: #ff8015;
    --peach: #fbe0cc;
    --pale-blue: #d7ddf2;
    --blush: #f7bfc1;
    --sea-form: #d7f2f0;
    --cream: #fff2ce;
    --gray: #bfc0c1;
    --ligth-gray: #f4f4f4;
    --light-background-page-header-background: #F5F5F7;
    --text: #161616;
}



// @font-face {
//     font-family: 'tiggiefont';
//     src: url('/fonts/tiggiekidsfont/PPPangramSans-Medium.otf');
// }

@font-face {
    font-family: 'pppangram-bold';
    src: url('/fonts/PPPangramSans-Bold.otf');
}

@font-face {
    font-family: 'pppangram-medium';
    src: url('/fonts/PPPangramSans-Medium.otf');
}

@font-face {
    font-family: 'ruddy-bold';
    src: url('/fonts/Ruddy-Bold.ttf');
}


.pppangram-bold {
    font-family: 'pppangram-bold';
}

.pppangram-medium {
    font-family: 'pppangram-medium';
}

.ruddy-bold {
    font-family: 'ruddy-bold';
}



* {
    font-family: 'pppangram-bold';
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 26px !important;
}


.tiggie-title {
    // font-family: PP Pangram Sans;
    color: var(--tiggie-blue);
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 42px !important;
    text-transform: capitalize !important;
}

.tiggie-label {
    color: var(--graphite) !important;
    // font-family: PP Pangram Sans;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 26px !important;
    // text-align: left;
}

.tiggie-subtitle {
    color: var(--black, #000);
    /* Body Style Large */
    // font-family: PP Pangram Sans;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 38px !important;
    /* 158.333% */
}

.tiggie-sub-subtitle {
    color: var(--graphite) !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 42px !important;
}

.tiggie-resize-input-text {
    height: 45px !important;
    // padding: 12px !important;

}

.tiggie-p {
    color: rgba(40, 40, 40, 0.50) !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 32px !important;

}

.tiggie-show-title {
    color: var(--tiggie-blue, #4066E4) !important;
    // font-family: PP Pangram Sans;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 42px !important;
    /* 140% */
    text-transform: capitalize !important;

}


textarea {
    border-radius: 8px;
    border: 1px solid var(--line, #E5E5E5);
    background: var(--light-gray, #F4F4F4);

}

.tiggie-small-label {

    color: var(--gray, #BFC0C1) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 26px !important;
    /* 162.5% */

}

.tiggie-teacher-title {
    color: var(--text) !important;
    /* H3 Ruddy */
    // font-family: Ruddy;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 52px !important;
    /* 130% */
    text-transform: capitalize !important;
}

.tiggie-teacher-subtitle {
    color: var(--graphite) !important;
    // font-family: PP Pangram Sans;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 32px !important;
    /* 160% */

}


.tiggie-teacher-label {
    color: var(--gray) !important;
    /* Body Style Small */
    // font-family: PP Pangram Sans;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 26px !important;
    /* 162.5% */
}


.tiggie-btn {
    border-radius: 8px !important;
    box-shadow: 0px 4px 8px -4px rgba(76, 78, 100, 0.42) !important;
}




.cancel-btn {
    padding-top: 5px !important;
    border-radius: 5px !important;
    border-radius: 5px !important;
    color: var(--black) !important;
    border: 1px solid var(--gray) !important;
    background: var(--gray) !important;
}

.finish-btn {

    width: 250px !important;
    color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid var(--tiggie-blue, #4066E4) !important;
    background: var(--tiggie-blue, #4066E4) !important;
}

.back-btn {
    border-radius: 5px !important;
    border: 1px solid var(--gray, #BFC0C1) !important;
    background: var(--gray, #BFC0C1) !important;
}





.text-green {
    color: var(--sucess, #48BC65) !important;
}


// .v-chip {
//     color: var(--light-success-main, #72E128) !important;
//     font-feature-settings: 'clig' off, 'liga' off !important;
//     /* Light/Components/Chip */
//     font-family: Inter !important;
//     font-size: 13px !important;
//     font-style: normal !important;
//     font-weight: 400 !important;
//     line-height: 18px !important;
//     /* 138.462% */
//     letter-spacing: 0.16px !important;

// }


.text-dark {
    color: #000 !important;
}

.text-gray {
    color: var(--light-gray, #F4F4F4) !important;
}


// globle spacing and pading

.padding-left-30 {
    padding-left: 30% !important;
}

.padding-right-30 {
    padding-right: 30% !important;
}

.padding-right-20 {
    padding-right: 20% !important;
}

.padding-left-10 {
    padding-left: 18% !important;
}

.padding-left-36 {
    padding-left: 36% !important;
}

.padding-top-8px {
    padding-top: 8px !important;
}

.padding-right-16 {
    padding-right: 16% !important;
}

.margin-buttom-18 {
    margin-bottom: 18px !important;
}





span {
    // color: var(--light-text-primary, rgba(76, 78, 100, 0.87));
    /* Body Style Small */
    // font-family: PP Pangram Sans;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 26px !important;
    /* 162.5% */
}



//custome vuetify

.v-btn__content {
    color: var(--graphite) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 26px !important;
    text-transform: capitalize !important;
}

.rounded-select .v-input__control {
    border-radius: 20px;
}



.user-profile-image {
    border-radius: 64px;
    display: flex;
    width: 34px;
    height: 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}



//sweet alert customization

.swal2-title {

    color: var(--bg-1-c-1-d-21, #1C1D21) !important;
    text-align: center !important;
    // font-family: PP Pangram Sans;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 42px !important;
    /* 140% */
    text-transform: uppercase !important;
}

.swal2-html-container {
    color: #1C1D21 !important;
    /* Body Style Standard */
    font-family: PP Pangram Sans;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 32px !important;
    /* 160% */

}

.swal2-actions .swal2-confirm {
    background-color: var(--success) !important;
    border: none;
    width: 340px;
}


.swal2-icon.swal2-success .swal2-success-ring {
    border: 8px solid var(--success) !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: var(--success) !important;
}

// set inactive button
.swal2-deny.swal2-styled {
    width: 170.045px !important;
    border-radius: 8px !important;
    background: var(--blush, #F7BFC1) !important;
    color: var(--candy-red, #FF6262) !important;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px !important;
    padding: 17px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}


.swal2-cancel.swal2-styled {
    width: 170.045px !important;
    border-radius: 8px !important;
    background: var(--gray, #BFC0C1);
    color: var(--light-gray, #F4F4F4);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Buttons/Label 14px */
    padding: 14px !important;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.swal2-icon.swal2-warning.swal2-icon-show {
    border: 10px solid var(--candy-red) !important;


}


.swal2-icon.swal2-warning.swal2-icon-show .swal2-icon-content {
    color: var(--candy-red) !important;
    font-size: 60px !important;
    border: 10px solid var(--candy-red) !important;
}



//menu item styles

.tiggie-menu-item-font-size {
    // color:  #4066E4 !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 26px !important;
    /* 162.5% */
}


fw-500 {
    font-weight: 500 !important;
}


// datable background color


thead {
    // background-color: red !important;
    background: var(--light-background-page-header-background, #F5F5F7) !important;
}



// student img

.tggie-student-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 180px;
}



.required::after {
    content: '*';
    color: var(--candy-red, #FF6262);
    /* Body Style Small */
    padding-left: 10px;
    font-family: PP Pangram Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;

}
