/* stylelint-disable */
.line {
    margin-left: 10px;
    width: 1px;
    height: 100px;
    background-color: #001a8f;
}


.animated_img {
           scale: 1;
    transition: all 0.3s ease-in-out;
}

.animated_img_frame {
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}

.animated_img_frame:hover {
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.animated_img:hover {
    scale: 1.1;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 460px) {
    .line {
        margin-top: 10%;
        margin-left: 4%;
    }
}
